<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">

    <name>CV App</name>

    <description>
        My Simple Curriculum Vitae Mobile App.
    </description>


    <!-- Define app icon for each platform. -->
    <icon src="uic-logo.jpg" />

    <!--
    <icon src="icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />
    
    <icon src="icon/blackberry/icon-80.png"     gap:platform="blackberry" />
    <icon src="icon/blackberry/icon-80.png"     gap:platform="blackberry" gap:state="hover"/>
    <icon src="icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
    <icon src="icon/webos/icon-64.png"          gap:platform="webos" />
    <icon src="icon/windows-phone/icon-48.png"  gap:platform="winphone" />
    <icon src="icon/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />
    -->
</widget>
